@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* html {
  color-scheme: light dark;
} */
img,
picture {
  max-width: 100%;
  display: block;
}
button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
/*End CSS Reset */
/*Root Set */
:root {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --font-bold: hslhsl(234, 12%, 34%);
  --font-thin: hsl(212, 6%, 44%);
  --line-green: hsl(180, 62%, 55%);
  --line-red: hsl(0, 78%, 62%);
  --line-orange: hsl(34, 97%, 64%);
  --line-blue: hsl(212, 86%, 64%);
}

.wrapper {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
}
/* HERO STYLE */
.main {
  margin: 3.75rem 2.313rem 0;
  color: var(--font-thin);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__intro {
  text-align: center;
}
.main__intro-h1 {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.7%;
}
.main__intro-h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.7%;
  margin: 0.875rem 1.125rem;
  color: var(--font-bold);
}
.main__intro-p {
  font-size: 0.938rem;
  max-width: 19rem;
  font-size: 0.938rem;
  font-weight: 200;
  margin-bottom: 3.75rem;
}

/* CARDS STYLE */
.main__cards__card {
  margin-bottom: 2rem;
  -webkit-box-shadow: 5px 10px 25px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 10px 25px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.625rem;
  position: relative;
  padding-bottom: 2.875rem;
  max-width: 21.875rem;
  min-width: 19.625rem;
  max-height: 15.625rem;
}
.main__cards__card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  background-color: var(--line-green);
  border-radius: 20px 20px 0 0;
  top: 0;
}
.main__cards__card:nth-of-type(2)::before {
  background-color: var(--line-red);
}
.main__cards__card:nth-of-type(3)::before {
  background-color: var(--line-orange);
}

.main__cards__card:nth-last-child::before {
  background-color: var(--line-blue);
}
.main__cards__card-h3 {
  color: var(--font-bold);
  font-size: 1.125rem;
  letter-spacing: 6.5%;
  font-weight: 600;
  padding: 1.75rem 0;
  margin: 0 2rem;
}
.main__cards__card-p {
  font-weight: 200;
  margin: 0 0 2rem 2rem;
}
.main__cards__card img {
  margin: 0 2rem 0 auto;
}
/* Start Atribution Section */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERY */
@media (min-width: 46.875rem) {
  .main {
    margin: 1rem 2.313rem 0;
  }
  .main__intro-h1 {
    font-size: 2.25rem;
  }
  .main__intro-h2 {
    font-size: 2.25rem;
  }
  .main__intro-p {
    font-size: 0.938rem;
    max-width: 31.938rem;
    margin-bottom: 2rem;
  }
  .main__cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
  }
  .main__cards__card {
    margin-bottom: 0;
  }
  .main__cards__card:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
  }

  .main__cards__card:nth-of-type(2) {
    grid-column: 5 / 9;
    grid-row: 1 / 3;
  }

  .main__cards__card:nth-of-type(3) {
    grid-column: 5 / 9;
    grid-row: 3 / 5;
  }

  .main__cards__card:nth-of-type(4) {
    grid-column: 9 / 13;
    grid-row: 2 / 4;
  }
}
