@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
/* - Weights: 500, 700 */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
/* - Weights: 700 */
:root {
  --main-bg-color: hsl(30, 38%, 92%);
  --paragrph-color: hsl(228, 12%, 48%);
  --perfume-color: hsl(212, 21%, 14%);
  --components-color: hsl(158, 36%, 37%);
  --hover-components-color: hsl(157.1, 36%, 18%);
  --card-bg-color: hsl(0, 0%, 100%);
  --external-link-color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 4rem;
}

.attribution {
  margin-top: auto;
  text-align: center;
}

.card {
  background-color: var(--card-bg-color);
  width: 100%;
  max-width: 37.5rem;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
  margin-top: auto;
}

.card_img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.card_img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card_content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.card_content-category {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: var(--paragrph-color);
}

.card_content-name {
  font-family: "Fraunces", serif;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2rem;
  margin: 1rem 0;
}

.card_content-description {
  font-family: "Montserrat", sans-serif;
  line-height: 1.438rem;
  font-weight: 500;
  color: var(--paragrph-color);
  font-size: 0.938rem;
  margin-bottom: 1.5rem;
  letter-spacing: -0.03em;
}

.card_content-price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.card_content-price-new {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: var(--components-color);
}

.card_content-price-old {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.438rem;
  letter-spacing: -0.03em;
  text-decoration: line-through;
  color: var(--paragrph-color);
}

.card_content_cta {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.438rem;
  letter-spacing: 0.02em;
  padding: 1rem 0;
  border-radius: 10px;
  color: var(--card-bg-color);
  background-color: var(--components-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: background-color 150ms ease;
}
@media (prefers-reduced-motion: reduce){
  .card_content_cta{
    transition: background-color 450ms ease;
  }
}

.card_content_cta-btn {
  border: 0;
  background-color: transparent;
  color: var(--card-bg-color);
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.438rem;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.card_content_cta:hover,
.card_content_cta:active {
  background-color: var(--hover-components-color);
}

@media (min-width: 26em) {
  body {
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .attribution {
    margin-top: 0;
  }
  .card {
    flex-direction: row-reverse;
    margin-top: 0;
  }
  .card_content {
    padding: 1.875rem;
    width: 50%;
  }
  .card_img {
    width: 50%;
  }
  .card_img img {
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
}
